<!--
  ~ Author: Łukasz Słodownik.
  ~ Integral part of the bachelor thesis "Analiza i prezentacja danych pomiarowych z systemu motion capture".
  ~ Supervisor of the bachelor thesis: Ph.D.Michał Ludwicki, Lodz University of Technology.
  ~ Copyright © 2020 Łukasz Słodownik.
  -->

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Łukasz Słodownik">
    <title>Wybierz źródło danych</title>
</head>
<body>
<p>Wybierz źródło danych<br>
<!--    <a href="database_cred_form.html">Baza PostgreSQL</a><br>-->
    <a href="upload_source_csv.html">Wyślij plik CSV</a><br>
<!--    <a href="load_local_csv.html">Plik CSV z lokalnego dysku (ścieżka w application.properties)</a>-->
</p>
</body>
</html>